h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.association-select {
    justify-content: space-evenly;
    padding: 1em;
    width: 25%;
    margin: auto;
}

.cache-table {
    padding: 0.5em;
}

.stats {
    padding: 1em;
}

.address-input {
    padding: 0.5em;
}

table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    border: 1px solid #000;
    padding: 0.5em;
}

td {
    border: 1px solid #000;
    height: 1.5em;
    text-align: center;
}

.index {
    border: 0px;
}

.tag {
    width: 10em;
}

.data {
    width: 15em;
}